<div style="background-color: #ebd9be; top: 0; left: 0; bottom: 0; right: 0; position: fixed;">
    <div class="container  h-100">
        <div class="row align-items-center h-100">
            <div class="col offset-lg-4 col-lg-4 mx-auto">
            <div class="card" style="max-width: 30rem; box-shadow: 10px -10px rgb(87, 150, 144);">
                <div class="card-body">
                <h5 class="card-title text-center title">Se envio una notifiacion de confirmacion a su aplicacion movil</h5>
                <p><b>En Espera...</b></p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>