<div style="background-color:#dcffff;">
    <app-nav-bar></app-nav-bar>
    
        <br>
        <div class="container" style="background-color: #fff;box-shadow: 10px -10px rgb(87, 150, 144);">
            <br>
            <div class="row">
                <div class="col col-lg-3">
                    <button type="button" class="btn btn-outline-green btn-block btn-sm" (click)="getPosts()"><b>Actualizar</b></button>
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <h3 class="text-center">Posts registrados</h3><br>
                    <div class="row text-center" *ngIf='!post'><p>No hay posts registrados..</p></div>
                    <table class="table text-center table-striped" *ngIf='post'>
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Titulo</th>
                                <th scope="col">Texto</th>
                                <th scope="col">Fecha de registro</th>
                                <th scope="col">Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let post of posts">
                                <td>{{post.id}}</td>
                                <td>{{post.titulo}}</td>
                                <td>{{post.texto}}</td>
                                <td>{{post.created_at |date:"short"}}</td>
                                <td><button type="button" class="btn btn-outline-danger" (click)="deletePost(post)" >Eliminar</button></td>
                                <td><button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal" (click)="getPostById(post)" (click)="cancelar()">Editar</button></td>
                                <!-- 
                                <td *ngIf="rol === 'white' || rol === 'grey'"><button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#solicitudModal">Eliminar con peticion</button></td>
                                <td *ngIf="rol === 'white' || rol === 'grey'"><button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#solicitudModal">Editar  con peticion</button></td>
                                <td *ngIf="rol === 'white' || rol === 'grey'" n><button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#solicitudModal">Eliminar con peticion</button></td>
                                <td *ngIf="rol === 'white' || rol === 'grey'"><button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#solicitudModal">Editar  con peticion</button></td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal"  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup] = "updateForm" (ngSubmit)="updatePost()">
            <div class="form-group">
                <span>Titulo</span>
                <input type="text" class="form-control" formControlName = "titulo" placeholder="{{tituloPlaceHolder}}">
            </div>
            <div class="form-group">
                <span>Texto</span>
                <textarea class="form-control" formControlName = "texto" placeholder="{{textoPlaceHolder}}"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="cancelar()">Cancelar</button>
                <button type="submit" class="btn btn-outline-primary ">Editar</button>
            </div>
            </form>
            
        </div>
        
        </div>
    </div>
    </div>
    

    <div class="modal fade" id="solicitudModal" tabindex="-1" aria-labelledby="solicitudModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="solicitudModalLabel">Solicitar confirmacion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" *ngIf="!solicitudUser">
                    <p>
                        Para relizar esta accion es nesesario contar con la autorizacion de un usuario <b>Black</b>, <br>
                        si desea continuar solicite un confirmacion.
                    </p>
                </div>

                <div class="modal-body"*ngIf="solicitudUser">
                    <form [formGroup] = "codigoForm" (ngSubmit)="sendCodigo()">
                        <div class="form-group">
                            <span>Codigo</span>
                            <input type="text" class="form-control" formControlName = "codigo">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-primary ">Confirmar</button>
                        </div>
                    </form>
            </div>
                <div class="modal-footer" *ngIf="!solicitudUser">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="disconnectWS()">Cancelar</button>
                    <button type="button" class="btn btn-outline-primary" (click)="connectWS()"  >Solicitar Confirmacion</button>
                </div>
            </div>
        </div>
    </div>