<div>
<app-nav-bar></app-nav-bar>

    <br>
    <div class="container h-100">
        <br>
        <div class="row align-items-center h-100" >
            <div class="col text-start">
                <p>
                    <b style="font-size: 160px; color: rgb(87, 150, 144);">
                        Proyecto <br>
                        Persona
                    </b>
                </p>
            </div>
            <div class="col text-end">
                
            </div>
        </div>

    </div>
</div>
